:root {
    font-family: 'Inter ', sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
}

body{
    display: grid;
    place-content: center;

    /* background-color: blueviolet; */
    min-height: 100vh;
}

.App {
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    padding: 10px;
    width: 550px;
    /* height: 704px; */
    /* background-color: white; */
}

nav {
    padding: 10px;
    /* width: 550px; */
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    background-color: #F55A5A;
}

nav>img{
    color: white;
    
    /* background-color: cadetblue; */
}

nav>h1{
    color: white;
    /* background-color: darkgreen; */
}

.main--image{
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card--{
    justify-self: center;
    margin-bottom: 2px;
    padding: 40px;
    display: flex;
    gap: 20px;
    /* width: 470px;
    height: 168px; */
    background-color: white;

}

.location--{
    display: flex;
    padding: 5px;
    /* justify-content:flex-start; */
    align-items: center;
    /* background-color: hotpink; */
}

.location--title{
    margin-right: 12px;
    font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;

color: #2B283A;
}

.location--img{
    width: 7px;
height: 9.55px;
margin-right: 5px;
/* left: 184px;
top: 120px; */

/* background: #F55A5A; */
}

.location--link{
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #918E9B;
    
    /* background-color:chartreuse; */
}

.card--info{
    display: grid;
    padding: 5px;
    /* background-color: dodgerblue; */
}

.card--info>h1{
    margin-top: 0;
    margin-bottom: 7px;
    /* background-color: gray; */
}

.dates--{
    font-weight: 700;
    font-size: 10.24px;

    /* background-color: gold; */

}

.description--{
    font-weight: 400;
font-size: 10.24px;
line-height: 150%;

/* background-color: honeydew; */
}

